language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

env:
  - LARAVEL=5.5.*
  - LARAVEL=5.6.*
  - LARAVEL=5.7.*
  - LARAVEL=5.8.*
  - LARAVEL=^6.0
  - LARAVEL=^7.0

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.4
  exclude:
    - php: 7.1
      env: LARAVEL=^6.0
    - php: 7.1
      env: LARAVEL=^7.0

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer require illuminate/support:$LARAVEL illuminate/validation:$LARAVEL --no-update --no-interaction --dev

install:
  - travis_retry composer install --no-suggest --no-interaction --prefer-dist --no-progress

script:
  - vendor/bin/phpspec run --format=pretty --no-interaction

notifications:
  slack:
    secure: MT5eWBoLLafyRTdFVyig9A/kw68UuKxSiFwFfsd7RaJwJlnR31rfw3oTS6/74Fkr7UQNOclUGSxbX10iIkR9I0ktMayMSDrnDZXNLs3Zn5ciGRjo9zIQ+gw0eqmU1hHyVXvG7pSwoLjqihlkO9J6K/1bUhTaHT+OXvKXZOqJ3Os=
